<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>greeting</h2>
	<div><a href="/">Home</a></div>
	<div><a href="/hello.html">hello.html</a></div>
	<div><a href="/hi">greeting</a></div>
</body>
</html>